#card
{
    border:solid 1px black;
    width:18em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    display:block;
}
#card header figure
{
    margin:0;
}
#card header figure img
{ 
  width:100%;
}
#card main article section
{
    padding:0px 30px 0px 15px;
    text-align:justify;
}
#card main section ul
{
    padding:0px;
}
#card ul li
{
    border-top:solid 1px black;
    list-style-type: none;
    padding:0px 10px 0px 10px;
}
#card footer
{
    border-top:solid 1px black;
    height:4em;
    display:flex;
    align-items:center;
    padding-left:10px;
}
